<footer class="footer">
    <nav class="text-xs flex justify-center items-center uppercase *:m-4 *:flex *:flex-col *:items-center">
        <a href="/book" class="bookFooter">Boka</a>
        <a href="/testimonials" class="reviewsFooter">Reviews</a>
        <a href="/staff" class="staffFooter">Våra Anställda</a>
        <a href="/treatments" class="treatmentsFooter">Behandlingar</a>
    </nav>
    <div class="text-xs flex justify-center items-center">
        <p>Washbear Spa © 2025 • Björnlunda, 646 50, Gnesta • Tel +00 560 443 23
        </p>
    </div>
</footer>
