<header>
  <nav class="px-8">
    <div class="flex h-20 items-center justify-between">
      <!-- left side  -->
      <div class="flex w-48 justify-end gap-6 whitespace-nowrap">
        <a href="/home" class="hem"></a>
        <a href="/book">Boka</a>
        <a href="/testimonials">Reviews</a>
      </div>
      <!-- middle -->
      <div class="mx-8 flex-shrink-0">
        <a href="/home">
          <img
            src="https://i.pinimg.com/originals/ff/21/c9/ff21c94cf3bee40fd36ef911420106ca.jpg"
            class="h-12 w-12 rounded-full"
          />
        </a>
      </div>
      <!-- right side -->
      <div class="flex w-48 justify-start gap-6 whitespace-nowrap">
        <a href="/staff" class="justify-center">Våra Anställda</a>
        <a href="/treatments">Behandlingar</a>
      </div>
    </div>
  </nav>
</header>
