<header>
  <nav class="px-8">
    <div class="flex items-center h-20 justify-between">
      <!-- left side  -->
      <div class="w-48 flex gap-6 justify-end whitespace-nowrap">
        <a href="/home" class="hem"></a>
        <a href="/book">Boka</a>
        <a href="">Reviews</a>
      </div>
      <!-- middle -->
      <div class="flex-shrink-0 mx-8">
        <a href="/home">
          <img
          src="https://i.pinimg.com/originals/ff/21/c9/ff21c94cf3bee40fd36ef911420106ca.jpg"
          class="h-12 w-12 rounded-full"
          />
        </a>
      </div>
      <!-- right side -->
      <div class="w-48 flex gap-6 justify-start whitespace-nowrap">
        <a href="/staff" class="justify-center">Våra Anställda</a>
        <a href="/treatments">Behandlingar</a>
      </div>
    </div>
  </nav>
</header>
